## mako

<%namespace name='static' file='/static_content.html' />

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2" style="float:right">
        <a href="https://www.stanford.edu">
          <img src="${static.url('images/logo.png')}" alt="Stanford University" width="105" height="105" />
        </a>
      </div>

      <div id="su-footer-text" class="span10">
        <ul id="global-links">
          <li class="alt"><a href="https://robotics.wahaha.com.cn/#/whhRobot/Home" title="Terms of use for sites">娃哈哈智能机器人</a>
          </li>
          <li class="alt"><a href="https://smartrack.wahaha.com.cn/#case" title="Terms of use for sites">解决方案</a></li>
          <li class="alt"><a href="https://smartrack.wahaha.com.cn/#case" title="Privacy and cookie policy">核心产品</a>
          </li>
          <li class="copyright alt"><a href="https://robotics.wahaha.com.cn/#/whhRobot/Resume/RestingList?anchor=ZPGW"
              title="Report alleged copyright infringement">人才招聘</a></li>
          <li class="alt"><a href="https://robotics.wahaha.com.cn/#/whhRobot/ConnectUs?anchor=HZXQ"
              title="Ownership and use of Stanford trademarks and images">合作需求</a></li>
        </ul>
        <ul id="policy-links">
          <li class="home"><a href="https://smartrack.wahaha.com.cn/">关于我们</a></li>
          <li class="maps alt"><a href="https://robotics.wahaha.com.cn/#/whhRobot/ConnectUs?anchor=HZXQ">联系我们</a></li>
          <li class="search-stanford"><a href="#">服务协议和隐私政策</a></li>
          <li class="emergency alt"><a href="#">帮助与反馈</a></li>
          <li class="emergency alt"><a href="#"> 侵权投诉</a></li>
        </ul>
        <p class="copyright vcard">
          <span class="fn org">Copyright @ 2022 巧迹网上课堂</span>
          <br />
          <span class="adr">
            <span class="region">地址: 浙江省杭州市萧山区恒盛路3号</span>
          </span>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>